########################
# GLOBAL IGNORE RULES  #
########################

# OS junk
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

######################
# DEPENDENCIES / BUILD
######################
**/node_modules/
**/dist/
**/build/

################
# NEXT.JS (client)
################
client/.next/
client/out/

################
# ENV FILES
################
# Global env
.env
.env.*

# Client env files
client/.env
client/.env.*
# Server env files
server/.env
server/.env.*

################
# TESTING / COVERAGE
################
**/coverage/

################
# LOG FILES
################
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
